################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetCore/config
/.vs/NetCore/DesignTimeBuild
/.vs/NetCore/v16
/.vs
